
@{
    ViewBag.Title = "Add Drug View";
}

<h2 class="col-lg-offset-5">Add Drug</h2>
@using (Html.BeginForm("AddDrug", "Home", FormMethod.Post))
{
    <div class="col-lg-offset-4 col-md-6">
        <label>Delivery: </label>
        <input type="text" name="client" id="client" value="@ViewBag.client" readonly class="form-control" />
        <label>Citeria Type: </label>
        <input type="text" name="criteriaType" id="criteriaType" value="@ViewBag.criteriaType" readonly class="form-control" />
        <label>Criteria: </label>
        <input type="text" name="criteria" id="criteria" value="" class="form-control" /><br/>
        <input type="submit" name="btnSubmit" id="btnSubmit" value="ADD DRUG" class="btn btn-primary"  />
    </div>
}
