
@{
    ViewBag.Title = "Add Drug";
}
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<h2 class="col-lg-offset-5">Add Drug</h2>
    <form action="@Url.Action("AddDrug", "Home")" method="post">
        <div class="col-lg-offset-4 col-md-6">
            <label>Delivery: </label>
            @*<input type="text" name="client" id="client" value="@ViewBag.client" readonly class="form-control" />*@
            <input type="text" name="client" id="client" value="@TempData["Client"]" readonly class="form-control" />
            <label>Citeria Type: </label>
            <input type="text" name="criteriaType" id="criteriaType" value="@TempData["CriteriaType"]" readonly class="form-control" />
            <label>Criteria: </label>
            <input type="text" name="criteria" id="criteria" value="" class="form-control" /><br />
            <input type="submit" name="btnSubmit" id="btnSubmit" value="ADD DRUG" class="btn btn-primary" onclick="return confirm('Are you sure? Do you want to Add this drug?')" />
        </div>
    </form>

        <style>
            .ui-autocomplete {
                max-height: 150px;
                overflow-y: auto;
                overflow-x: hidden;
                max-width: 700px;
            }
        </style>

<script src="~/Scripts/AddDrugView.js"></script>