@model DrugAmmendment.Models.DropDownClass
@{
    ViewBag.Title = "Get DropDown";
}

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />


<style>
    #client {
        margin:20px;
    }
    #criteriaType{
        margin:20px;
    }
    #DrugDetailsTable {
        margin:100px 20px 20px 20px;
    }
    #activeDrugsBtn {
        margin:20px;
    }
    #addDrugBtn{
        margin:20px;
    }
   
</style>
<h2>Dashboard</h2>


@using (Html.BeginForm("AddDrugView", "Home", FormMethod.Post))
{
    @Html.DropDownList("SelectClient", Model.ClientName, "Select Customer", new { id = "client", @class = "form-control"})

    <select id="criteriaType" class="form-control" name="criteriaType">
        <option value="-1" class="form-control">Select Criteria Type</option>
    </select>
    
    <input type="button" name="activeDrugs" value="Get Active Drugs" id="activeDrugsBtn" class="btn-primary btn-lg" />
    <input type="submit" name="addDrug" value="Add New Drug" id="addDrugBtn" class="btn-primary btn-lg" />
    <input type="button" name="deleteDrug" value="Delete Drug" id="deleteDrugBtn" class="btn-primary btn-lg" />
    <table id="DrugDetailsTable" class="table">
        <thead>
            <tr>
                <th>Criteria</th>
                <th>TermID</th>
                <th>Modification Date</th>
                <th>Creation Date</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#client').change(function () {
            var clientName = $('#client').val();
            GetCriteria(clientName);
        });
        $('#activeDrugsBtn').click(function () {
            var clientName = $('#client').val();
            var criteriaType = $('#criteriaType').val();
            GetActiveDrugs(clientName, criteriaType);
        });
        $('#deleteDrugBtn').click(function () {
            var clientName = $('#client').val();
            var criteriaType = $('#criteriaType').val();
            var url = "/Home/DeleteDrugView?clientName=" + clientName + "&criteriaType=" + criteriaType;
            window.location.href = url;
        });
    });

    function GetCriteria(clientName) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: ' /Home/PopulateCriteriaType',
            data: { ClientName: clientName },
            dataType: 'json',
            success: function (data) {
                var criteriaTypeOptions;
                var json = JSON.stringify(data);
                $.each(data, function (i, json) {
                    criteriaTypeOptions += "<option value='" + json.Text + "'>" + json.Text + "</option>";
                });

                $('#criteriaType').html(criteriaTypeOptions);
            },
            error: function (err) {
                alert('Something went wrong...!');
            }
        });
    }

    function GetActiveDrugs(clientName, criteriaType) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: ' /Home/GetDrugList',
            data: { ClientName: clientName, CriteriaType: criteriaType },
            dataType: 'json',
            success: function (data) {
                var json = JSON.stringify(data);

                var tableRow = "";
                $.each(data, function (i, json) {
                    var date = null;
                    var CreationDate = null;
                    var ModificationDate = null;

                    if (json.CreationDate != null) {
                        date = new Date(parseInt(json.CreationDate.substr(6)));
                        CreationDate = date.getFullYear() + "-" +
                            ("0" + (date.getMonth() + 1)).slice(-2) + "-" +
                            ("0" + date.getDate()).slice(-2) + " " + date.getHours() + ":" +
                            date.getMinutes();
                    }
                    if (json.ModificationDate != null) {
                        date = new Date(parseInt(json.ModificationDate.substr(6)));
                        ModificationDate = date.getFullYear() + "-" +
                            ("0" + (date.getMonth() + 1)).slice(-2) + "-" +
                            ("0" + date.getDate()).slice(-2) + " " + date.getHours() + ":" +
                            date.getMinutes();
                    }

                    tableRow += '<tr><td>' + json.Criteria + '</td><td>' + json.TermID + '</td><td>' + ModificationDate + '</td><td>' + CreationDate + '</td></tr>';

                    console.log(json.Criteria + "  " + json.TermID + "  " + ModificationDate + "  " + CreationDate);
                });
                $('#DrugDetailsTable tbody').html(tableRow);
                //Pagination
                $('#DrugDetailsTable').DataTable();
                //

            },
            error: function (err) {
                alert('Something went wrong...!');
            }
        });
    }

    function DeleteDrug(clientName, criteriaType) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: ' /Home/DeleteDrug',
            data: { ClientName: clientName, CriteriaType: criteriaType },
            dataType: 'json',
            success: function (data) {
                alert("Deleted Successfully...!");
            },
            error: function (err) {
                alert('Something went wrong...! Drug not deleted/Updated');
            }
        });
    }

</script>

